<div class="my-container">
	<button class="btn btn-danger" ng-click="startTest()">START TEST</button>
	<span ng-bind="time"></span>
	<span ng-bind="mistakeCount"></span>
	<div class="countWordsContainer">
		<label for="countWords">Введите количество слов для теста</label><input ng-model="countWords" placeholder="20">
	</div>
	<div class="test" ng-show="testBegin">
		<form>
			<div class="test-title">
				<span>{{questionIndex}} из {{questionCount}}</span>
			</div>
			<div class="test-content">
				<h2>{{en}}</h2>
				<input class="input-lg word" ng-model="myAnswer">
			</div>
			<div class="test-footer">
				<button class="btn btn-primary" ng-click="check()" ng-show="en.length" blur-me>Next</button>
			</div>
		</form>
	</div>
	<button class="btn btn-primary" ng-click="endTest()" ng-show="testBegin">END TEST</button>
	<button ng-click="setValue1()">Setvalue1</button>
	<button ng-click="setValue2()">Setvalue2</button>
</div>


