/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext);

body, html {
 padding: 10px;
 margin: 0;
}

.clearfix::after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

#view {
  padding-top: 80px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.my-title {
  margin-left: 20px;
  float: left;
  color: #00BCD4;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 70px;
}

.my-title:hover {
  text-decoration: none;
  color: #00BCD4;
}

.menu {
  margin-bottom: 0;
  height: 100%;
  float: right;
}

.menu > li {
  height: 100%;
  float: left;
  list-style: none;
}

.menu > li > a {
  padding: 27px 15px;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #00BCD4;
  line-height: 16px;
  //vertical-align: middle;
}

.menu > li > a:hover {
  text-decoration: none;
  background-color: #EAEBEB;
}


.warning {
  color: red;
  box-shadow: 1px 1px 1px red;
}

.table th {
  height: 30px;
  position: relative;
  transition: all 0.2s ease-in;
}

.table th:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(0,150,210, 0.5);
}

.table th > span {
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.2s ease;
}

.table th:hover > span {
  left: 20px;
  top: 1px;
  color: rgba(0, 0, 210, 0.5);
}

.my-button {
  margin-left: 30px;
  width: 90px;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.my-button:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  width: 100px;
}

.my-input + .my-addon {
  color : red;
}

.my-end-button {
  position: relative;
  padding: 10px 20px;
  margin-left: 100px;
  overflow: hidden;
  box-shadow: -1px 1px 3px 1px rgba(130,130,130,.4);
  transition: .2s all;
}

.my-end-button:focus,
.my-end-button:active:focus,
.my-end-button.active:focus,
.my-end-button.focus,
.my-end-button:active.focus,
.my-end-button.active.focus {
  outline: none;
}

.my-end-button:focus {
  background-color: #337ab7;
}

.circle {
  position: absolute;
  border: 1px solid black;
  border-radius: 90px;
  width: 2px;
  height: 2px;
  background: #FFF;
  opacity: .4;
  transition: .4s all ease-in;
}

.my-form {
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #F7F8F8;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.my-table {
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: #F7F8F8;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.search-wrap {
  margin-top: 20px;
  height: 30px;
  position: relative;
  float: right;
}

.search-wrap-placeholder {
  position: absolute;
  left: 20px;
  top: 0;
  color: grey;
  transition: .2s all ease-out;
  -webkit-transition: .2s all ease-out;
}

.search-wrap-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.search-wrap-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #F68C04;
}

.search-wrap-icon {
  //color: red;
}

/* styles for new design */
html, body {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#view {
  padding: 0;
  width: 100%;
  height: 100%; 
}

/* #header {
  display: block;
  position: static;
} */

.my-container {
  background-color: #EEEEEC;
  width: 100%;
  height: 100%;
  display: flex;
  //justify-content: center;
  align-items: center;
}

.word-form {
  padding: 30px;
  margin: auto;
  height: 300px;
  width: 600px;
  position: relative;
  /* border: 1px solid black; */
  text-align: center;
}


.my-input {
  margin-top: 70px;
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 18px;
  color: #999;
}

#my-label {
  margin-right: 15px;
  font-family: RobotoDraft, 'Roboto Medium', Roboto, sans-serif;
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 500;
}

.last-words-container {
  margin-top: 25px;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  color: #8F8F8F;
}

.last-word::after {
  content: ", ";
  padding-right: 5px;
}

.last-word:last-child::after {
  content: "";
}

input.error {
  color: red;
  border-bottom: 2px solid red;
}

.my-get-button {
/*   margin-left: 15px;
background-color: #20A0F3;
color: #FFF;
padding: 3px 10px;
border: none;
border-radius: 5px;  */
  margin-left: 15px;
  font-family: RobotoDraft, 'Roboto Medium', Roboto, sans-serif;
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #20A0F3;
  outline: none;
  transition: color .3s ease;
}

.my-save-button, .my-cancel-button {
  margin: 25px 5px 0 5px;
}

.progress-container {
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #000;
  overflow: hidden;
  top: 127px;
  left: 160px;
}

.my-spinner {
  position: absolute;
  height: 2px;
  background-color: blue;
  animation: beam .7s linear;
  left: 0;
  top: 0;
}

.loading {
  border-bottom: none;
  transition: opacity 1s ease-in;
  opacity: 0;
}

.last-word.ng-enter {
  animation: enter .5s ease-in;
}

/* .last-word.ng-leave {
  animation: leave .5s ease-in;
} */

.my-disabled {
  color: #5C5757;
}


@keyframes beam {
  from { width: 0; }
  to { 
    width: 100%;
  }
}

@keyframes enter {
  from { opacity: 0; }
  to { 
    opacity: 1;
  }
}

@keyframes leave {
  from { opacity: 1; }
  to { 
    opacity: 0;
  }
}

/* -----------------------view2 styles---------------------------- */

.test-reqform-container {
  margin: auto;
}

.my-startbtn-container {
  margin: 30px 0;
  text-align: center;
}

.test {
  position: relative;
  margin: auto;
  width: 300px;
  //height: 300px;
  padding: 40px 25px 25px 25px;
  border: 1px solid black;
  text-align: center;
}

.test > form {
  text-align: left;
}

.test-content {
  margin-top: 20px;
}

.test-footer {
  margin-top: 20px;
}

.my-endbtn {
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  opacity: .5;
  background-color: transparent;
  transition: opacity .3s ease;
}

.my-endbtn:hover {
  opacity: 1;
}

.my-time {

}

.correct-answer-count {
  color: green;
  margin-right: 10px;
}

.incorrect-answer-count {
  color: red;
}

.indicator-of-answers {
  float: right;
}

.incorrect-anwers-list-container {
  margin: auto;
}

.incorrect-answers-list li {
  list-style: none;
}








